{% extends "base/base.html" %}
{% load staticfiles %}
{% load hotel_tags %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/hotel_view.css' %}">
{% endblock %}


{% block content %}
    <div class="top-row">
        <div class="container">
            <div class="row">
                <div class="col l5 m10 push-m1 s10 push-s1">
                    <img class="responsive-img" src="{{ hotel_data.thumb_urls_as_list.3 }}" alt="hotel image">
                </div>

                <div class="col l7 m10 push-m1 s10 push-s1">
                    <div class="row">
                        <div class="col l12 m12 s12">
                            <h5 class="hotel-heading">{{ hotel_data.hotel_name }}</h5>
                            <span class="stars-container stars-{{ hotel_data.star_as_integer }}">★★★★★</span>
                            {{ hotel_data.star_rating }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col l12 m12 s12">
                            {{ hotel_data.address }}, {{ hotel_data.district }}, {{ hotel_data.country }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="tag-price">{{ hotel_data.format_price }} per night</div>
                            <div>
                                <a href="#book-now"
                                   class="modal-trigger waves-effect white-text waves-teal btn btn-block red darken-3">
                                    Book Now <i class="material-icons right">chevron_right</i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- Modal Structure -->
                    <div id="book-now" class="modal">
                        <div class="modal-content">
                            <div class="search-box z-depth-0">
                                <div class="row ">
                                    <form class="col s12 m10 l12 push-s1 push-m2" method="get"
                                          action="{% url "hotel:index" %}">
                                        <div class="row">
                                            <div class="input-field col s10 m10 l4">
                                                <i class="material-icons prefix">place</i>
                                                <input placeholder="Place" type="text" name="place" class="validate"
                                                       required>
                                            </div>
                                            <div class="input-field col s10 m5 l4">
                                                <i class="material-icons prefix">date_range</i>
                                                <input placeholder="Check in" type="text" name="check_in_date"
                                                       class="datepicker">
                                            </div>
                                            <div class="input-field col s10 m5 l4">
                                                <i class="material-icons prefix">date_range</i>
                                                <input placeholder="Check out" type="text" name="check_out_date"
                                                       class="datepicker">
                                            </div>
                                            <div class="input-field col s10 m10 l4">
                                                <i class="material-icons prefix">airline_seat_individual_suite</i>
                                                <input placeholder="Rooms" type="text" name="room" class="validate">
                                            </div>

                                            <div class="input-field col s10 m5 l4">
                                                <i class="material-icons prefix">people</i>
                                                <input placeholder="Adults" type="text" name="adult" class="validate">
                                            </div>

                                            <div class="input-field col s10 m5 l4">
                                                <i class="material-icons prefix">child_care</i>
                                                <input placeholder="Child's" type="text" name="children"
                                                       class="validate">
                                            </div>
                                        </div>
                                        <div class="row center">
                                            <div class="col s10 m5 l12 push-m3 search-button">
                                                <button class="btn btn-block waves-effect red darken-3 z-depth-2"
                                                        type="submit">
                                                    Reserve <i class="material-icons right">send</i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal End -->
                </div>
            </div>

            <div class="divider grey"></div>
            <div class="center divider-row">
                <span class="utility-signs">
                    <i class="fa fa-1x fa-smoking-ban"></i> No-Smoking
                </span>
                <span class="utility-signs">
                    <i class="fa fa-1x fa-wifi"></i> Free Wifi
                </span>
                <span class="utility-signs">
                    <i class="fa fa-1x fa-parking"></i> Free Parking
                </span>
                <span class="utility-signs">
                    <i class="fa fa-1x fa-swimming-pool"></i> Pool
                </span>
            </div>
            <div class="divider grey"></div>

            <div class="row">
                <div class="col s12 m4 l3">
                    <h5 class="yes">Main amenities</h5>
                    <ul>
                        <li>222 smoke-free guestrooms</li>
                        <li>3 restaurants and 3 bars/lounges</li>
                        <li>Outdoor pool</li>
                        <li>Rooftop terrace</li>
                        <li>Breakfast available</li>
                        <li>24-hour fitness center</li>
                        <li>Spa services</li>
                        <li>24-hour business center</li>
                        <li>In-room childcare</li>
                        <li>24-hour front desk</li>
                        <li>Air conditioning</li>
                        <li>Daily housekeeping</li>
                        <li>Free WiFi and free parking</li>
                    </ul>
                </div>
                <div class="col s12 m4 l3">
                    <h5 class="yes">For families</h5>
                    <ul>
                        <li>Free cribs/infant beds</li>
                        <li>In-room childcare (surcharge)</li>
                        <li>Babysitting or childcare (surcharge)</li>
                        <li>Connecting/adjoining rooms available</li>
                        <li>Private bathroom</li>
                        <li>Separate bathtub and shower</li>
                    </ul>
                </div>
                <div class="col s12 m4 l3">
                    <h5 class="yes">Top spots nearby</h5>
                    <ul>
                        <li>Free cribs/infant beds</li>
                        <li>In-room childcare (surcharge)</li>
                        <li>Babysitting or childcare (surcharge)</li>
                        <li>Connecting/adjoining rooms available</li>
                        <li>Private bathroom</li>
                        <li>Separate bathtub and shower</li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col left-align">
                    <span class="yes">Rate this Hotel</span>
                    <i class="fa fa-star" aria-hidden="true" id="s1"></i>
                    <i class="fa fa-star" aria-hidden="true" id="s2"></i>
                    <i class="fa fa-star" aria-hidden="true" id="s3"></i>
                    <i class="fa fa-star" aria-hidden="true" id="s4"></i>
                    <i class="fa fa-star" aria-hidden="true" id="s5"></i>
                </div>
            </div>
            <div class="row">
                <form class="col l12 m12 s12" method="post" action="#">
                    <div class="input-field col s12 m8 l10">
                            <textarea placeholder="Share your opinion" id="review-textarea" class="materialize-textarea"
                                      data-length="300"></textarea>
                    </div>
                    <div class="col s12 m4 l2">
                        <a class="btn btn-block waves-effect waves-light red darken-3" href="#">Comment
                            <i class="material-icons right">send</i>
                        </a>
                    </div>
                </form>
            </div>
            <div class="row">
                <div id="reviews">
                    review block
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script src="{% static "js/jquery-3.1.1.min.js" %}"></script>
    <script src="{% static "js/materialize.min.js" %}"></script>
    <script>
        $(document).ready(function () {
            $("#s1").click(function () {
                $(".fa-star").css("color", "black");
                $("#s1").css("color", "red");
            });
            $("#s2").click(function () {
                $(".fa-star").css("color", "black");
                $("#s1,#s2").css("color", "red");
            });
            $("#s3").click(function () {
                $(".fa-star").css("color", "black");
                $("#s1,#s2,#s3").css("color", "red");
            });
            $("#s4").click(function () {
                $(".fa-star").css("color", "black");
                $("#s1,#s2,#s3,#s4").css("color", "red");
            });
            $("#s5").click(function () {
                $(".fa-star").css("color", "black");
                $("#s1,#s2,#s3,#s4,#s5").css("color", "red");
            });
        });


        $('.head-link').click(function (e) {
            e.preventDefault();

            let goto = $(this).attr('href');

            $('html, body').animate({
                scrollTop: $(goto).offset().top
            }, 800);
        });
        $(document).ready(function () {
            $('.datepicker').datepicker();
        });

        $(document).ready(function () {
            $('.modal').modal();
        });


        $(function () {
            function addScore(score, $domElement) {
                $("<span class='stars-container'>")
                    .addClass("stars-" + score.toString())
                    .text("★★★★★")
                    .appendTo($domElement);
            }

            addScore(70, $("#fixture"));
        });
    </script>
{% endblock %}
