input {
    margin-bottom: 0 !important;
    border: none !important;
    box-shadow: none !important;
}

input:focus {
    border-bottom: none !important;
    box-shadow: none !important;
}

.col .row {
    margin: 0 0 5px 0;
    padding: 0;
}

.input-field {
    border: 2px solid #930d0d;
    border-radius: 5px;
}

.search-here {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    font-weight: 200;
    color: #930d0d;
    text-overflow: ellipsis;
}

@media only screen and (min-width: 991px) {
    .row .col.l3 {
        width: 18.3% !important;
    }

    .row .col.l1 {
        width: 15% !important;
    }
}