input {
    margin-bottom: 0 !important;
    border: none !important;
    box-shadow: none !important;
}

input:focus {
    border-bottom: none !important;
    box-shadow: none !important;
}

.input-field {
    margin: 1px 0 1px 0;
    border: 2px solid #930d0d;
    border-radius: 5px;
}

.top-row {
    margin-top: 50px;
}

.hotel_name {
    font-size: 1.8rem;
    font-weight: 700;
}

.hotel-price {
    font-size: 2rem;
    font-weight: 800;
}

.search-box {
    padding: 0;
    margin: 0;
}

.search-button {
    padding: 20px !important;
}

.row {
    margin: 0;
    padding: 0;
}

.col {
    margin: 0;
    padding: 0;
}

.card-panel {
    height: inherit !important;
    padding:0;
    margin: 0 0 20px 0;
}

.hotel-detail-col {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.blank {
    margin: 8%;
}

@media only screen and (min-width: 991px) {
    .row .col.large3 {
        width: 18.3% !important;
    }

    .row .col.large1 {
        width: 15% !important;
    }
}