nav .nav-wrapper {
    background-color: #930d0d;
    height: 70px;
}

nav {
    background-color: #930d0d;
    height: 70px;
    line-height: 70px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 30px;
    line-height: 30px;
}

nav .button-collapse i {
    height: 30px;
    line-height: 30px;
}

nav .brand-logo {
    font-size: 1.6rem;
}

@media only screen and (min-width: 601px) {
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 70px;
        line-height: 70px;
    }
}


/* login_sign_up.html CSS*/
.FORMCLS {
    margin-top: 50px;
    background-color: #930d0d;

}

.FORM_HEADING_CLS {
    font-weight: 600;

}

.INPUT_FIELD_CLASS {
    margin-bottom: 0px;
    margin-top: 0px;
}

.field_text_clr {
    color: white;
}

.butoncolor {

    background-color: #930d0d;
}