{% extends "base/base.html" %}
{% load staticfiles %}


{% block content %}
<!-- templates/signup.html -->
<div class="container">
    <div class="row">

        <div id="signup" class="col s12 offset-s2">
            <div class="col  s8 m8 l8 xl8">
                <div class="card-panel hoverable z-depth-5 FORMCLS">
                    <h4 class="center white-text FORM_HEADING_CLS">Sign Up</h4>
                    <div class="row">
                        <form class="col s12 m12" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="row">
                                <div class="input-field col s12 m12 l12 xl12 INPUT_FIELD_CLASS">
                                    <i class="material-icons prefix">email</i>
                                    <input id="email" type="email" class="validate" name="email">
                                    <!-- DATA_INSERT_NAME -->
                                    <label for="email"><span class="field_text_clr">Email</span></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6 m6 INPUT_FIELD_CLASS">
                                    <i class="material-icons prefix">person</i>
                                    <input id="icon_prefix" type="text" class="validate">
                                    <label for="icon_prefix"><span class="field_text_clr">Full Name</span></label>
                                </div>
                                <div class="input-field col s6 m6 INPUT_FIELD_CLASS">
                                    <i class="material-icons prefix">place</i>
                                    <input id="country" type="text" class="validate" name="country">
                                    <!-- DATA_INSERT_NAME -->
                                    <label for="country"><span class="field_text_clr">Country</span></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6 m6 INPUT_FIELD_CLASS">
                                    <i class="fa fa-unlock-alt prefix"></i>
                                    <input id="icon_password" type="password" class="validate">
                                    <label for="icon_password"><span class="field_text_clr">Password</span></label>
                                </div>
                                <div class="input-field col s6 m6 INPUT_FIELD_CLASS">
                                    <i class="fa fa-unlock-alt prefix"></i>
                                    <input id="password" type="password" class="validate" name="confirm_password">
                                    <!-- DATA_INSERT_NAME -->
                                    <label for="password"><span class="field_text_clr">Confirm Password</span></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 m12 l12 xl12" style="margin-top:10px;margin-bottom:-20px;">
                                    <div class="chekbutton">
                                        <button class="btn waves-effect butoncolor" type="submit" name="action">Sign
                                            Up<i class="material-icons right">send</i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div><!--row-->
                </div><!--card-->
            </div>
        </div>
    </div>
</div>

{% endblock %}