.top-row {
    margin-top: 50px;
}

.hotel_name {
    font-size: 1.8rem;
    font-weight: 700;
}

.rec_hotel_name {
    font-size: 1.5rem;
    font-weight: 600;
}

.hotel-price {
    font-size: 2rem;
    font-weight: 800;
}

.rec-card-panel {
    padding: 10px 20px;
}

.rec-row {
    padding: 0 !important;
    margin-bottom: 0px;
}

.result-card-panel {
    height: 290px;
    padding: 10px;
    margin: 0 0 20px 0;
}

.hotel-detail-col {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.blank {
    margin: 8%;
}

.bottom-row {
    margin-top: 45px;
    margin-bottom: 40px;
}